body, * {
	font-family: Verdana;
	font-size: 10px;
}

div#options {
	position: absolute;
	left: 50%; 
	top: 50px; 
	width: 800px;
	height: 500px;
	margin-left: -400px;
	/*border: 1px solid #000099;*/
	padding: 12px;
}

div#logo {
	font-size: 48px;
	text-align: center;
	font-weight: bold;
}

div#logo img {
	vertical-align: text-bottom;
}

.tabMain {
    background-image:url( /icons/cog.png ) !important;
}

.tabLog {
    background-image:url( /icons/report.png ) !important;
}

.tabServer {
    background-image:url( /icons/computer.png ) !important;
}